<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>API EXP</title>
</head>
<body>
    <h1>API Explorer</h1>
    <div class="container">
        
      <small><%= content%></small>
      
      <p> THE CREATED DATE AND UPDATED DATE ARE
        <%=createdAt%> AND
        <%=updatedAt%></p>
     
    </div>
    <footer><p>The pet type is:<%= type%></p></footer>
</body>
</html>